{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %}

{% block contenido_principal %}
<h2>Mis ofertas</h2>
<p>Las ofertas que has creado son las siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover" id="tableOffers">
            <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio(€)</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for oferta in ofertas %}
            <tr>
                <td>{{ oferta.title }}</td>
                <td>{{ oferta.description }}</td>
                <td>{{ oferta.price }}</td>
                <td>

                    {% if oferta.buyer %}
                        <span class="text-danger">Vendido</span>
                    {% else %}
                        <a href="/standard/offer/remove/{{ oferta._id.toString() }}">Eliminar</a>
                    {% endif %}

                    {% if oferta.featured %}
                        <span class="text-danger">Destacada</span>
                    {% else %}
                        <a href="/standard/offer/featured/{{ oferta._id.toString() }}">Destacar</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}