{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %}

{% block contenido_principal %}
<h2>Mis compras</h2>
<p>Las ofertas compradas son las siguientes:</p>
<div class="table-responsive">
    <table class="table table-hover" id="tableOffers">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Precio(€)</th>
            <th>Email vendedor</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        <tr>
            <td>{{ oferta.title }}</td>
            <td>{{ oferta.description }}</td>
            <td>{{ oferta.price }}</td>
            <td>{{ oferta.owner }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}